{% extends 'basepage/base.html'%}
{%block content%}
<p>
This week's films...
    <br>
    {%for movie in movies%}
    <br>
        {{movie.movie.title}}<br>
        <img src= {{movie.movie.poster}}
             width=70" height="100">
        <br>
        {{movie.movie.description}}
    <br>
    <br>
    {%endfor%}


    {% if movies.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{movies.previous_page_number}}"> Previous</a>
    {% endif %}

    Page {{ movies.number }} of {{ movies.paginator.num_pages }}

    {% if movies.has_next %}
    <a href="?page={{movies.paginator.num_pages}}">Last &raquo</a>
    <a href="?page={{movies.next_page_number}}"> Next</a>
    {% endif %}
</p>
{%endblock%}